<% if(flash && flash.err) { %>
<% var m=JSON.stringify(flash.err) %>
<input type="hidden" id="message" value="<%=m%>">
<% } %>


<div id="index-banner" class="col s12 l8 parallax-container hide-on-med-and-down">
    <div class="section no-pad-bot">
        <div class="">
            <br><br>
            <div class="row ">
                <div class="col s12 m12 l9 center">
                    <img class="responsive-img center" width="300" src="/images/titlewhite.png">
                    
                    <h2 class="myFont  white-text" style="text-shadow: black 0.1em 0.1em 0.2em;">Con helPet encuentra y ubica fácilmente negocios o locales que ofrecen servicios para tu mascota, o ayuda a otras personas a encontrar su mascota perdida. También sí aún no tienes mascota encuentra un amigo fiel para toda la vida, encuentra un animalito para adoptar.</h2>
                   
                    <a href="https://play.google.com/store/apps/details?id=com.co.helpet" >
                    <img alt="Get it on Google Play" 
                    src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_60.png" />
                </a>
                </div>
                <div class="row">
                    <div class="col s4 l2 ">
                        <img class="materialboxed " width="250" src="/images/landing/login.png">
                    </div>
                </div>
            </div>
            <div class="row center">
                <a href="#section1" class="btn-floating btn-large waves-effect waves-light blue">
                    <img width="30" src="/images/landing/down.png">
                </a>
                
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax  ">
        <img class="responsive-img" src="/images/landing/fondo.jpg" alt="Unsplashed background img 1">
    </div>
</div>
<!--inicio responsive-->
<div class=" blue col s12 m4 l8 center hide-on-large-only">
    <div class="container">
        <div class="row">
         
                <div class="row ">
                <div class="col s12 m12 l9 center">
                    <img class="responsive-img center" width="200" src="/images/titlewhite.png">
                    
                    <h3 class="myFont  white-text" style="text-shadow: black 0.1em 0.1em 0.2em;">Con helPet encuentra y ubica fácilmente negocios o locales que ofrecen servicios para tu mascota, o ayuda a otras personas a encontrar su mascota perdida. También sí aún no tienes mascota encuentra un amigo fiel para toda la vida, encuentra un animalito para adoptar.</h3>
                   
                    <a href="https://play.google.com/store/apps/details?id=com.co.helpet" >
                    <img alt="Get it on Google Play" 
                    src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_60.png" />
                </a>
                </div>
                <div class="row">
                    <div class="col s12 l2 m12 center ">
                        <img class="materialboxed  " width="250" src="/images/landing/login.png">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    
</div>
<!--fin responsive-->
<div class="container">
    <div class="section " id="section1">
        <br>
        <!--   Icon Section   -->
        <div class="row ">
            <div class="col s12 m12 l4 center">
                
                <div class="slider  ">
                    <ul class="slides white" >
                        <li>
                            <img class"responsive-img" src="/images/landing/perdidas.png"> <!-- random image -->
                            <div class="caption center-align">
                                
                            </div>
                        </li>
                        <li>
                            <img class"responsive-img" src="/images/landing/detalle-perdida.png"> <!-- random image -->
                            <div class="caption left-align">
                                
                            </div>
                        </li>
                        <li>
                            <img class"responsive-img" src="/images/landing/mapa_perdida.png" > <!-- random image -->
                            <div class="caption right-align">
                                
                            </div>
                        </li>
                        <!--   <li>
                            <img class"responsive-img" src="/images/landing/cel.png">
                            <div class="caption center-align">
                                
                            </div>
                        </li> -->
                    </ul>
                </div>
                
                
                <h4 class="myFont center blue-text">¿Se perdió tu mascota o encontraste la mascota de alguien?</h4>
                <p class="heading h4 center">Con helPet podrás publicar todo lo relacionado con el reporte de la pérdida, la cual además se ubica en un mapa para que todos los usuarios de la comunidad helPet te puedan ayudar.</p>
                
            </div>
            <div class="col s12 m12 l4 center">
                
                <div class="center">
                    <div class="slider ">
                        <ul class="slides white" >
                            <li>
                                <img class"responsive-img" src="/images/landing/categorias.png"> <!-- random image -->
                                <div class="caption center-align">
                                    
                                </div>
                            </li>
                            <li>
                                <img class"responsive-img" src="/images/landing/showstoreresult.png"> <!-- random image -->
                                <div class="caption left-align">
                                    
                                </div>
                            </li>
                            <li>
                                <img class"responsive-img" src="/images/landing/showstore.png"> <!-- random image -->
                                <div class="caption right-align">
                                    
                                </div>
                            </li>
                            <li>
                                <img class"responsive-img" src="/images/landing/showstoremap.png">
                                <div class="caption center-align">
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <h4 class="myFont center blue-text">¿No encuentras lugares que ofrezcan servicios para tu mascota?</h4>
                <p class="heading h4 center">En helPet podrás encontrar una lista de veterinarias, peluquerías y tiendas de mascotas, además de toda su información, teléfono, dirección y la ubicación en el mapa.</p>
                
            </div>
            <div class="col s12 m12 l4 center">
                
                <div class="center">
                    <div class="slider ">
                        <ul class="slides white" >
                            <li>
                                <img class"responsive-img" src="/images/landing/adoption0.png"> <!-- random image -->
                                <div class="caption center-align">
                                    
                                </div>
                            </li>
                              <li>
                                <img class"responsive-img" src="/images/landing/adoptions1.png">
                                <div class="caption left-align">
                                    
                                </div>
                            </li>
                            <li>
                                <img class"responsive-img" src="/images/landing/adoption2.png">
                                <div class="caption right-align">
                                    
                                </div>
                            </li>
                            <!--
                            <li>
                                <img class"responsive-img" src="/images/landing/cel.png">
                                <div class="caption center-align">
                                    
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <h4 class="myFont center blue-text">¿Quieres adoptar o dar en adopción un animalito?</h4>
                <p class="heading h4 center">Con helPet podrás publicar todo lo relacionado con el animalito que deseas dar en adopción, además de poder visualizar todas las mascotas disponibles para adoptar.</p>
                
            </div>
            
            
            
        </div>
    </div>
</div>
<div class=" blue col s12 m4 l8 center">
    <div class="container">
        <div class="row">
         
                <br>
                <br>
                <h1 class="myFont white-text" style="text-shadow: black 0.1em 0.1em 0.2em;">¿Te Gustó?</h1>
                <h1 class="center-align myFont white-text" style="text-shadow: black 0.1em 0.1em 0.2em;">Si te gustó y te interesa, te invitamos a que formes parte de esta nueva comunidad, <b>helPet</b>. </h1>
                <h1 class="myFont white-text" style="text-shadow: black 0.1em 0.1em 0.2em;"> Encuéntrala en Google Play</h1>
                <a href="https://play.google.com/store/apps/details?id=com.co.helpet">
                    <img alt="Get it on Google Play"
                    src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_60.png" />
                </a>
            
            <br>
            <br><br>
            <!--
            
            
            <div class="col s12 l6 ">
                <div class="card small center  hoverable ">
                    <div class="card-image">
                        <img class"responsive-img" src="/images/landing/fondo.jpg">
                        <span class="card-title">¡Déjanos tus datos!</span>
                    </div>
                    <div class="card-content">
                        <form id="main-contact-form" class="contact-form " name="contact-form" method="post" action="/homepage/create">
                            
                            <div class="row">
                                
                                <div class="input-field col s9 offset-s1 ">
                                    <input id="name" name="name" type="text" class="validate white" required>
                                    <label for="name"><i class="material-icons">perm_identity</i> Nombre</label>
                                </div>
                            </div>
                            
                            
                            <div class="row">
                                <div class="input-field col s9 offset-s1 ">
                                    
                                    <input  id="email" name="email" type="email" class="validate" required>
                                    <label for="email"><i class="material-icons">email</i> E-mail</label>
                                </div>
                            </div>
                            <div class="col s9 offset-s3">
                                <button type="submit" class="btn-floating btn-large waves-effect waves-light blue right"><i class="material-icons">send</i></button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div> -->
        </div>
    </div>
    
</div>
<div class="container ">
    <div class="section">
        <h1 class="myFont  blue-text center-align" style="text-shadow: grey  0.1em 0.1em 0.2em;">¿Tienes un negocio? </h1>
        <div class="row">
            
            <div class="col s12 l12 center">
                <p class="flow-text">Si tienes un negocio, ya sea peluquería, veterinaria, almacén, o cualquier tipo de establecimiento, en el cual prestas algún servicio u ofreces artículos para mascotas. Te invitamos a que ingreses la información de tu negocio en el siguiente <a href="/businessmanager/new" class="light-blue-text">enlace</a> y te des a conocer en helPet.</p>
                
            </div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad leaderboard 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9711134518069834"
     data-ad-slot="4842114107"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
    </div>
</div>