<div class="row container">
	<h3 class="blue-text">Declaración de derechos y responsabilidades</h3>
	<p>Fecha de la última revisión: 16 de Septiembre de 2015</p>
	<p class="">
		Esta Declaración de derechos y responsabilidades (en lo sucesivo, "Declaración", "Condiciones" o "DDR") tiene su origen en los Principios de helPet y contiene las condiciones de servicio que rigen nuestra relación con los usuarios y con todos aquellos que interactúan con helPet, así como con las marcas, los productos y los servicios de helPet, que se denominan "servicios de helPet" o "servicios". Al utilizar o acceder a los servicios de helPet, muestras tu conformidad con esta Declaración, que se actualiza periódicamente según se estipula en la sección 13 más adelante. Al final de este documento también encontrarás otros recursos que te ayudarán a comprender cómo funciona helPet.
	</p>
	<p>
		Puesto que helPet ofrece una amplia gama de servicios, es posible que te pidamos que leas y aceptes condiciones complementarias aplicables a tu interacción con una aplicación, un producto o un servicio determinados. En caso de que esas condiciones complementarias entren en conflicto con esta DDR, las condiciones complementarias asociadas con la aplicación, el producto o el servicio prevalecerán en lo referente al uso de tales aplicaciones, productos o servicios en caso de conflicto.
	</p>
	<p class="heading h3 blue-text"> Privacidad</p>
	<p>
		Tu privacidad es muy importante para nosotros. Hemos diseñado nuestra Política de datos para ayudarte a comprender cómo puedes utilizar helPet para compartir contenido con otras personas y cómo recopilamos y podemos utilizar tu contenido e información. Te animamos a que leas nuestra Política de datos y a que la utilices con el fin de poder tomar decisiones fundamentadas.
		Compartir el contenido y la información
	Eres el propietario de todo el contenido y la información que publicas en helPet, además:</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>En relación con el contenido con derechos de propiedad intelectual (contenido de PI), como fotos y vídeos, nos otorgas específicamente una licencia no exclusiva, transferible, con posibilidad de ser subotorgada, libre de regalías y aplicable globalmente para utilizar cualquier contenido de PI que publiques en helPet o en conexión con helPet (licencia de PI). Esta licencia de PI finaliza cuando eliminas tu contenido de PI o tu cuenta, a menos que el contenido se haya compartido con terceros y estos no lo hayan eliminado.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Cuando eliminas contenido de PI, este se elimina de forma similar a cuando vacías la papelera de reciclaje de tu ordenador.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Cuando publicas contenido en helPet, significa que permites que todos, incluidas las personas que son ajenas a helPet, accedan y usen dicha información y la asocien a ti (por ejemplo, tu nombre y foto del perfil).
			Siempre valoramos tus comentarios y sugerencias acerca de helPet, pero debes entender que podríamos utilizarlos sin obligación de compensarte por ello (del mismo modo que tú no tienes obligación de ofrecerlos).
		</li>
	</ul>
	<p class="heading h3 blue-text">Seguridad</p>
	<p>
	Hacemos todo lo posible para hacer que helPet sea un sitio seguro, pero no podemos garantizarlo. Necesitamos tu ayuda para que así sea, lo que implica los siguientes compromisos de tu parte:</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			No publicarás comunicaciones comerciales no autorizadas (como correo no deseado, "spam") en helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No recopilarás información o contenido de otros usuarios ni accederás a helPet utilizando medios automáticos (como harvesting bots, robots, arañas o scrapers) sin nuestro permiso previo.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No participarás en marketing multinivel ilegal, como el de tipo piramidal, en helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No subirás virus ni código malintencionado de ningún tipo.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No solicitarás información de inicio de sesión ni accederás a una cuenta perteneciente a otro usuario.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No molestarás, intimidarás ni acosarás a ningún usuario.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No publicarás contenido que resulte hiriente, intimidatorio, pornográfico, que incite a la violencia o que contenga desnudos o violencia gráfica o injustificada, ni relacionado a la venta o comercialización de animales.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No desarrollarás ni harás uso de aplicaciones de terceros que contengan, publiciten o promocionen de cualquier otro modo contenido relacionado con el consumo de alcohol o las citas, o bien dirigido a público adulto (incluidos los anuncios) sin las restricciones de edad apropiadas.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No utilizarás helPet para actos ilícitos, engañosos, malintencionados o discriminatorios.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No realizarás ninguna acción que pudiera inhabilitar, sobrecargar o afectar al funcionamiento correcto o al aspecto de helPet, como un ataque de denegación de servicio o la alteración de la presentación de páginas u otra funcionalidad de helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No facilitarás ni fomentarás el incumplimiento de esta Declaración o nuestras políticas.
		</li>
	</ul>
	<p class="heading h3 blue-text"> Seguridad de la cuenta y registro</p>
	
	<p>
		Los usuarios de helPet proporcionan sus nombres e información reales y necesitamos tu colaboración para que siga siendo así. Estos son algunos de los compromisos que aceptas en relación con el registro y mantenimiento de la seguridad de tu cuenta:
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			No proporcionarás información personal falsa en helPet, ni crearás una cuenta para otras personas sin su autorización.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No crearás más de una cuenta personal.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si inhabilitamos tu cuenta, no crearás otra sin nuestro permiso.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No utilizarás tu perfil personal para beneficio comercial o económico.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No utilizarás helPet si eres menor de 10 años en el caso de usuario estándar.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No utilizarás helPet si eres menor de 18 años en el caso de usuario administradores de negocios.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No utilizarás helPet si has sido declarado culpable de un delito sexual, zoofilia o si ha sido declarado culpable en delitos como maltrato animal.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Mantendrás la información de contacto exacta y actualizada.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No compartirás tu contraseña, no dejarás que otra persona acceda a tu cuenta ni harás nada que pueda poner en peligro la seguridad de tu cuenta.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No transferirás la cuenta (incluidas cuentas estándar y de administradores de negocio) a nadie sin nuestro consentimiento previo por escrito.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No registrarás un animal que sea considerado vía de extinción como tu mascota.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si seleccionas un nombre de usuario, nos reservamos el derecho de eliminarlo o reclamarlo si lo consideramos oportuno (por ejemplo, si el propietario de una marca comercial se queja por un nombre de usuario que no esté estrechamente relacionado con el nombre real del usuario).
		</li>
	</ul>
	<p class="heading h3 blue-text">Protección de los derechos de otras personas</p>
	<p>
		Respetamos los derechos de otras personas y esperamos que tú hagas lo mismo.
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			No publicarás contenido ni realizarás ninguna acción en helPet que infrinja o viole los derechos de otros o que viole la ley de algún modo.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Podemos retirar cualquier contenido o información que publiques en helPet si consideramos que infringe esta Declaración o nuestras políticas.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si retiramos tu contenido debido a una infracción de los derechos de autor de otra persona y consideras que ha sido un error, tendrás la posibilidad de apelar la decisión.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si infringes repetidamente los derechos de propiedad intelectual de otra persona, desactivaremos tu cuenta si es oportuno.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No podrás utilizar nuestros derechos de autor ni nuestras marcas comerciales, ni tampoco ninguna marca que se parezca a las nuestras y cuya semejanza pueda dar lugar a confusiones, excepto en los términos que lo permitan nuestras Normas de uso de las marcas de forma expresa o a menos que recibas consentimiento previo por escrito de helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si obtienes información de los usuarios, deberás obtener su consentimiento previo, dejar claro que eres tú (y no helPet) quien recopila la información y publicar una política de privacidad que explique qué datos recopilas y cómo los usarás.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No publicarás los documentos de identificación ni información financiera delicada de nadie en helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No enviarás invitaciones de correo electrónico a quienes no sean usuarios sin su consentimiento. helPet ofrece herramientas de denuncia social para que los usuarios puedan hacernos llegar sus opiniones.
		</li>
	</ul>
	<p class="heading h3 blue-text"> Protección de los derechos de los animales</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			No publicarás contenido ni realizarás ninguna acción en helPet que infrinja o viole los derechos de de los animales.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Podemos retirar cualquier contenido o información que publiques en helPet si consideramos que infringe esta Declaración o nuestras políticas.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si infringes repetidamente los derechos de los animales, eliminaremos tu cuenta, y bloquearemos tu correo electrónico para acceder a nuestras plataformas si es oportuno.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si obtienes información de las mascotas de otros usuarios, deberás obtener su consentimiento previo, dejar claro que eres tú (y no helPet) quien recopila la información y publicar una política de privacidad que explique qué datos recopilas y cómo los usarás.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si comercializas algún animal o públicas información de animales considerados en vía de extinción, eliminaremos tu cuenta, y bloquearemos tu correo electrónico para acceder a nuestras plataformas si es oportuno.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No publicarás información de animales registrados como mascotas de otros usuarios como propia,  ni información de animales dados en adopción, si lo haces eliminaremos el contenido y en caso de que sea pertinente tu cuenta.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No promoverás el maltrato animal, ni ninguna actividad que incite la violación de los derechos de los mismos, si lo haces eliminaremos tu cuenta, y bloquearemos tu correo electrónico para acceder a nuestras plataformas.
		</li>
	</ul>
	<p class="heading h3 blue-text"> Dispositivos móviles y de otros tipos</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			Actualmente ofrecemos nuestros servicios para dispositivos móviles de forma gratuita pero ten en cuenta que se aplicarán las tarifas normales de tu operadora, por ejemplo, para mensajes de texto y datos.
			Proporcionas tu consentimiento y todos los derechos necesarios para permitir que los usuarios sincronicen (incluso a través de una aplicación) sus dispositivos con cualquier información que puedan ver en helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Proporcionas tu consentimiento y todos los derechos necesarios para permitir obtener datos de la forma en que usas nuestra aplicación y sitio web en dispositivos móviles, tales como: sistema operativo, la versión de hardware, la configuración del dispositivo, los nombres y tipos de software y de archivos, la carga de la batería, la intensidad de la señal y los identificadores de dispositivos. Ubicaciones del dispositivo, incluida la posición geográfica específica obtenida a través de señales de GPS, Bluetooth o wifi. Información sobre la conexión, como el nombre del operador de telefonía celular o proveedor de servicios de internet, el tipo de navegador, el idioma y la zona horaria, el número de celular y la dirección IP. Ésta información se usa para mejorar las funcionalidades de nuestra aplicación y su uso está sujeto a éstos términos de referencia.
		</li>
	</ul>
	<p class="heading h3 blue-text">
		Disposiciones especiales aplicables a administradores de negocios
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			En relación con el contenido con derechos de propiedad intelectual (contenido de PI), como fotos, el logo de tu empresa o la información del mismo, nos otorgas específicamente una licencia no exclusiva, transferible, con posibilidad de ser subotorgada, libre de regalías y aplicable globalmente para utilizar cualquier contenido de PI que publiques en helPet o en conexión con helPet (licencia de PI). Esta licencia de PI finaliza cuando eliminas tu contenido de PI o tu cuenta, a menos que el contenido se haya compartido con terceros y estos no lo hayan eliminado.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Cuando publicas contenido en helPet, significa que permites que todos, incluidas las personas que son ajenas a helPet, accedan y usen dicha información y la asocien a tu negocio (por ejemplo,el nombre de tu empresa y logo).
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Siempre valoramos tus comentarios y sugerencias acerca de helPet, pero debes entender que podríamos utilizarlos sin obligación de compensarte por ello (del mismo modo que tú no tienes obligación de ofrecerlos).
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Los servicios que ofrece helPet en la publicación de tu negocio por el momento son gratuitos, pero están sujetos a cambios según considere helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			helPet es libre de presentar la información de tu negocio como considere que es adecuado, siempre y cuando no altere de ninguna manera la misma.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			helPet se reserva el derecho de admisión, en caso de que la información que ingreses en el sistema no cuente con veracidad o no tenga la calidad suficiente para mostrarse al público, en dicho caso se te será contactado para informarte de esto y permitirte realizar los cambios pertinentes.
		</li>
	</ul>
	<p class="heading h3 blue-text">Acerca de los anuncios u otro contenido comercial servido u optimizado por helPet
	</p>
	<p>
		Nuestro objetivo es ofrecer anuncios y otro contenido comercial o patrocinado que sea valioso para nuestros usuarios y anunciantes. Para ayudarnos a lograrlo, aceptas lo siguiente:
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			Nos concedes permiso para usar tu nombre, foto del perfil, contenido e información en relación con contenido comercial, patrocinado o relacionado (como una marca que te guste) que sirvamos o mejoremos. Esto significa, por ejemplo, que permites que una empresa u otra entidad nos pague por mostrar tu nombre y/o foto del perfil con tu contenido o información sin que recibas ninguna compensación por ello. Si has seleccionado un público específico para tu contenido o información, respetaremos tu elección cuando lo usemos.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No proporcionamos tu contenido o información a anunciantes sin tu consentimiento.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Entiendes que es posible que no siempre identifiquemos las comunicaciones y los servicios pagados como tales.
		</li>
	</ul>
	<p class="heading h3 blue-text">
		Disposiciones especiales aplicables al software
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			Si descargas o utilizas nuestro software, como un producto de software independiente, una aplicación o un plug-in para el navegador, aceptas que, periódicamente, el software puede descargar e instalar mejoras, actualizaciones y funciones adicionales a fin de mejorarlo y desarrollarlo.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No modificarás nuestro código fuente ni llevarás a cabo con él trabajos derivados, como descompilar o intentar de algún otro modo extraer dicho código fuente, excepto en los casos permitidos expresamente por una licencia de código abierto o si te damos nuestro consentimiento expreso por escrito.
		</li>
	</ul>
	<p class="heading h3 blue-text">
		Enmiendas
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			Te avisaremos antes de realizar cambios importantes en estas condiciones y te daremos la oportunidad de revisar y hacer comentarios sobre las condiciones revisadas antes de que continúes utilizando nuestros Servicios.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si realizamos cambios en las políticas, normas u otras condiciones a las que haga referencia esta ﻿﻿declaración o que estén incorporadas en ella, lo indicaremos en la página helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Tu uso continuado de los servicios de helPet, una vez notificados los cambios de nuestras condiciones, políticas o normas, supondrá tu aceptación de las condiciones, políticas o normas modificadas.
		</li>
	</ul>
	<p class="heading h3 blue-text">
		Terminación
	</p>
	<p>
		Si infringes la forma o el fondo de esta Declaración, creas riesgos de cualquier tipo para helPet o nos expones a posibles responsabilidades jurídicas, podríamos impedirte el acceso a helPet total o parcialmente. Te notificaremos por correo electrónico o la próxima vez que intentes acceder a tu cuenta. También puedes eliminar tu cuenta en cualquier momento. En tales casos, esta Declaración cesará, pero las siguientes disposiciones continuarán vigentes: 2.2, 2.4, 3-5 y 14-18. Además puedes desinstalar nuestra aplicación, en cuyo caso esta Declaración sigue estando vigente.
	</p>
	<p class="heading h3 blue-text">
		Disputas
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			Si alguien interpone una demanda contra nosotros relacionada con tus acciones, tu contenido o tu información en helPet, te encargarás de indemnizarnos y nos librarás de la responsabilidad por todos los posibles daños, pérdidas y gastos de cualquier tipo (incluidos los costes y tasas legales razonables) relacionados con dicha demanda. Aunque proporcionamos normas para la conducta de los usuarios, no controlamos ni dirigimos sus acciones en helPet y no somos responsables del contenido o la información que los usuarios transmitan o compartan en helPet. No somos responsables de ningún contenido que se considere ofensivo, inapropiado, obsceno, ilegal o inaceptable que puedas encontrar en helPet. No nos hacemos responsables de la conducta de ningún usuario de helPet, ya sea en internet o en otros medios.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			INTENTAMOS MANTENER helPet EN FUNCIONAMIENTO, SIN ERRORES Y SEGURO, PERO LO UTILIZAS BAJO TU PROPIA RESPONSABILIDAD. PROPORCIONAMOS helPet TAL CUAL, SIN GARANTÍA ALGUNA EXPRESA O IMPLÍCITA, INCLUIDAS, ENTRE OTRAS, LAS GARANTÍAS DE COMERCIABILIDAD, ADECUACIÓN A UN FIN PARTICULAR Y NO INCUMPLIMIENTO. NO GARANTIZAMOS QUE helPet SEA SIEMPRE SEGURO O ESTÉ LIBRE DE ERRORES, NI QUE FUNCIONE SIEMPRE SIN INTERRUPCIONES, RETRASOS O IMPERFECCIONES. helPet NO SE RESPONSABILIZA DE LAS ACCIONES, EL CONTENIDO, LA INFORMACIÓN O LOS DATOS DE TERCEROS Y POR LA PRESENTE NOS DISPENSAS A NOSOTROS, NUESTROS DIRECTIVOS, EMPLEADOS Y AGENTES DE CUALQUIER DEMANDA O DAÑOS, CONOCIDOS O DESCONOCIDOS, DERIVADOS DE O DE ALGÚN MODO RELACIONADOS CON CUALQUIER DEMANDA QUE TENGAS INTERPUESTA CONTRA TALES TERCEROS. NO SEREMOS RESPONSABLES DE PÉRDIDAS DE BENEFICIOS NI DE OTROS DAÑOS EMERGENTES, ESPECIALES, INDIRECTOS O ACCESORIOS DERIVADOS DE ESTA DECLARACIÓN DE helPet O RELACIONADOS CON ELLA, AUNQUE SE HAYA AVISADO DE LA POSIBILIDAD DE QUE SE PRODUZCAN. LAS LEYES APLICABLES PODRÍAN NO PERMITIR LA LIMITACIÓN O EXCLUSIÓN DE RESPONSABILIDAD POR DAÑOS ACCESORIOS O EMERGENTES, POR LO QUE LA LIMITACIÓN O EXCLUSIÓN ANTERIOR PODRÍA NO SER APLICABLE EN TU CASO. EN TALES CASOS, LA RESPONSABILIDAD DE helPet SE LIMITARÁ AL GRADO MÁXIMO PERMITIDO POR LA LEY APLICABLE.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			helPet sólo difunde información de los establecimientos que ofrecen servicios para animales y no se hace responsable por la información ofrecida por los establecimientos publicados en la misma, así mismo helPet no se hace responsable por las acciones de dichos establecimientos.
		</li>
	</ul>
	<p class="heading h3 blue-text">
		Definiciones
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			Con "helPet" o "Servicios de helPet" hacemos referencia a las funciones y los servicios que están disponibles, incluso a través de (a) nuestro sitio web en www.helPet.com y la aplicación móvil para android disponible en https://play.google.com/store/apps/details?id=com.co.helpet; (b) nuestra plataforma; (c) otros soportes, marcas, productos, servicios, software (como una barra de herramientas), dispositivos o redes existentes o que se desarrollen en un futuro. helPet se reserva el derecho de decidir, según su propio criterio, que determinadas marcas, productos o servicios estén sujetos a condiciones independientes y no a esta DDR.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			El término "Plataforma" se refiere al conjunto de API y servicios (como el contenido) que permiten que otras personas, incluidos los desarrolladores de aplicaciones y los operadores de sitios web, obtengan datos de helPet o nos los proporcionen a nosotros.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			El término "información" se refiere a los hechos y otra información sobre ti, incluidas las acciones que realizan los usuarios y las personas que, sin ser usuarios, interactúan con helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			El término "contenido" se refiere a cualquier información que tú u otros usuarios publiquen, proporcionen o compartan utilizando los Servicios de helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			El término "datos" o "datos de usuario" se refiere a los datos, incluidos el contenido o la información de un usuario, que otros pueden obtener de helPet o proporcionar a helPet a través de la plataforma.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			El término "publicar" significa publicar en helPet o proporcionar contenido de otro modo mediante helPet.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Por "usar" se entiende utilizar, ejecutar, copiar, reproducir o mostrar públicamente, distribuir, modificar, traducir y crear obras derivadas.
			El término "aplicación" significa cualquier aplicación o sitio web que usa la plataforma o accede a ella, así como cualquiera que recibe o ha recibido datos de nosotros.  Si ya no accedes a la plataforma pero no has eliminado todos los datos que te hemos proporcionado, el término "aplicación" continuará siendo válido hasta que los elimines.
		</li>
	</ul>
	<p class="heading h3 blue-text">
		Otros
	</p>
	<ul>
		<li><i class="material-icons tiny myBlue">label</i>
			Las referencias a “nos”, “nosotros” y “nuestro” significan helPet.
			Esta Declaración constituye el acuerdo completo entre las partes en relación con helPet y sustituye cualquier acuerdo previo.
			Si alguna parte de esta Declaración no puede hacerse cumplir, la parte restante seguirá teniendo validez y efecto completos.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Si no cumpliéramos alguna parte de esta Declaración, no se considerará una exención.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Cualquier corrección a o exención de esta Declaración deberá hacerse por escrito y estar firmada por nosotros.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			No transferira ninguno de tus derechos u obligaciones bajo esta Declaración a ningún tercero sin nuestro consentimiento.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Todos nuestros derechos y obligaciones según esta Declaración son asignables libremente por nosotros en conexión con una fusión, adquisición o venta de activos o por efecto de ley o de algún otro modo.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Nada de lo dispuesto en esta Declaración nos impedirá cumplir la ley.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Esta Declaración no otorga derechos de beneficiario a ningún tercero.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Nos reservamos todos los derechos que no te hayamos concedido de forma expresa.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Cuando accedas a helPet o lo uses deberás cumplir todas las leyes aplicables.
		</li>
		<li><i class="material-icons tiny myBlue">label</i>
			Al utilizar los Servicios de helPet o al acceder a estos, nos autorizas para recopilar y utilizar dicho contenido e información según la Política de datos y sus correcciones periódicas.
		</li>
	</ul>
</div>